<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>214743786186-sf5todtrbj5ts4748atleqbaf7jk7mrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214743786186-sf5todtrbj5ts4748atleqbaf7jk7mrb</string>
	<key>API_KEY</key>
	<string>AIzaSyBvTFtwyrQ4CZOdyzf-Whr1sOfmK4AMOw8</string>
	<key>GCM_SENDER_ID</key>
	<string>214743786186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.introApp</string>
	<key>PROJECT_ID</key>
	<string>intro-firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>intro-firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214743786186:ios:f63466deb4231cbe</string>
	<key>DATABASE_URL</key>
	<string>https://intro-firestore.firebaseio.com</string>
</dict>
</plist>